// About page (/about)

.markdown {

  p {
    margin: auto;
    //blue styling
    color: rgb(0,51,160);
  }

  h1 {
    font-size: .8em;
    margin-top: 3em;
  }

  h2 {
    //blue styling
    color: rgb(0,51,160);
  }
}
